name: publish

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
      - run: yarn install
      - run: npm publish --provenance --access public
